.cities {
    &__container {
        // height: 40%;
        width: 45%;
        // border: 2px solid red;
        border-bottom-left-radius: 32px;
        background-color: lightcyan;
        display: flex;
        flex-direction: column;

    }

    &__title {
        margin-top: 7%;
        margin-left: 10%;
        font-size: 30px;
    }

    &__list {
        flex: 1;
        font-size: 20px;
        margin-top: 2%;
        margin-left: 15%;
        margin-bottom: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}