.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://wallpaperaccess.com/full/2629319.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.cityAndForecast {
    display: flex;
    width: 50%;
    height: 20vh;
}