* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

/* 
body {
  background-color: #f5f5f5;
  background-image: url(https://wallpaperaccess.com/full/2629319.png);
  background-size: cover;
  background-repeat: no-repeat;
} */