.city {
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        font-weight: 200;
        border: none;
        font-size: 20px;
        background: transparent;
        cursor: pointer;
    }

    &__name {
        width: 30%;
    }

    &__temperature {
        width: 20%;
    }

    &__icon {
        width: 20%;
    }
}